extends layout

block content
    h1= title

    // ADD COMMODITY
    h2 Add Commodity
    #addcommodity
        fieldset
            table
                tr
                    td
                        input#inputName(type='text', placeholder='Name')
                    td
                        select(id="inputCategory")
                            option(value='0') -- Category --
                            option(value='Computer') Computer
                            option(value='Phone') Phone
                            option(value='Tablet') Tablet
                            option(value='Watch') Watch
                    td
                        select(id="inputStatus")
                            option(value='0') -- Status --
                            option(value='in stock') in stock
                            option(value='out of stock') out of stock
            br
            button(type='button',id='btnAddcommodity',class='myButton') Add Commodity
    // /ADD COMMODITY

    // COMMODITY LIST
    h2 Commodity List
    #commodityList            
    // /COMMODITY LIST

